* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-y: scroll;
  background-color: rgb(237, 237, 237);
}

.app-container {
  display: grid;
  width: 100%;
  background: #e5e5e5;
}

/*.app-items {
  background-color: #fff;
  border-bottom-left-radius: 60px;
  margin-bottom: 114px;
}

.app-nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 16px;
}*/

#logo {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #5565f6;
}

nav {
  color: #6070ff;
  width: 100%;
}

.socials {
  display: flex;
  padding-left: 0%;
  gap: 10px;
  list-style-type: none;
}

#lets-connect {
  color: #7f8cff;
}

h1 {
  color: #172b4d;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

a {
  text-decoration: none;
  font-weight: 600;
  font-size: 13px;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

#logo:active {
  color: #6070ff;
}

i {
  font-size: 25px;
  color: #505f79;
  cursor: pointer;
}

#menu-icon {
  color: #6070ff;
  margin-left: auto;
}

.projects-container {
  display: grid;
  justify-items: center;
  grid-template-rows: repeat(4 / fr);
  grid-auto-columns: 100%;
  grid-auto-rows: 600px;
  grid-row-gap: 88px;
  padding-left: 24px;
}

.project-title {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 12px;
}

.projects {
  justify-self: center;
  padding: 16px;
  background-color: #fff;
  border-radius: 16px;
}

h6 {
  color: #172b4d;
  font-weight: 700;
  font-size: 32px;
}

.list {
  display: inline-flex;
  list-style-type: none;
  gap: 10px;
  padding-left: 0;
  padding-right: 10px;
}

#canopy {
  color: #344563;
  font-weight: 600;
}

#backend {
  color: #7a869a;
  font-size: 13px;
  font-weight: 600;
}

.description {
  font-weight: 400;
  font-size: 15px;
}

.program-languages {
  display: inline-flex;
  list-style-type: none;
  gap: 10px;
  padding-left: 0%;
}

#language-name {
  background-color: #e9e9ffe9;
  color: #4052f9;
  font-size: 12px;
  font-weight: 600;
  padding: 4px 12px 4px 12px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.see-projects {
  font-size: 17px;
  font-weight: 500;
  color: #396df2;
  border: 1px solid #396df2;
  padding: 5px;
  border-radius: 8px;
}

.see-projects:disabled {
  background: #c1c7d0;
  color: gray;
}

.see-projects:hover {
  color: rgb(255, 253, 253);
  background: #6070ff;
}

.see-projects:active {
  color: white;
  background: #2560f5;
}

.about-container {
  display: grid;
  margin-top: 114px;
  padding: 16px;
  background-color: #fff;
  height: 100%;
  border-top-right-radius: 60px;
}

.about-heading {
  padding-top: 40px;
  font-weight: 700;
  font-size: 30px;
  color: #172b4d;
}

#intro {
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: 400;
}

.about-socials {
  padding-top: 15px;
  padding-bottom: 12px;
  padding-left: 10px;
}

.language {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  margin-top: 12px;
  margin-bottom: 30px;
}

.list-languages {
  display: flex;
  align-items: center;
  background-color: #f7f7f9;
  border-radius: 8px;
  margin-bottom: 30px;
}

.list-type {
  display: flex;
  align-items: center;
  color: #000;
  font-weight: bold;
  list-style-type: none;
  padding-left: 0%;
}

.line-colour {
  color: #cecfd0;
}

#js-style,
#html-style,
#css-style {
  padding-left: 15px;
  font-size: 15px;
  font-weight: bold;
  color: #253858;
}

#language-image {
  padding-left: 5px;
  padding-top: 5px;
}

#framework {
  padding-top: 20px;
}

#down-arrow {
  padding-top: 10px;
  padding-right: 30px;
}

#border-line {
  border-bottom: 1px solid #dfe1e6;
}

#frame {
  padding-top: 20px;
}

.contact-me {
  display: flex;
  background-color: #fff;
  justify-content: center;
  width: 100%;
  background-image: url(./images/contact-back.svg);
  background-repeat: no-repeat;
  height: 779px;
  margin-top: 100px;
}

.project-images {
  margin-left: 5%;
}

.contact-info {
  padding-top: 100px;
  text-align: center;
  color: #fff;
  margin-left: 0%;
}

.contact-info h3 {
  font-size: 35px;
  font-weight: 700;
}

.contact-info p {
  color: #fff;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  padding-bottom: 10px;
}

.form-input {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  margin-top: 2.5rem;
  text-decoration: none;
  list-style: none;
  margin-left: 6%;
}

.text-input,
.message-input {
  width: 327px;
  box-sizing: border-box;
  margin-bottom: 1rem;
  margin-left: -35px;
  padding: 10px;
  border-radius: 8px;
  border: none;
  font-family: "Poppins", sans-serif;
}

.text-input {
  font-size: 17px;
  color: #172b4d;
  line-height: 20px;
  height: 48px;
}

.message-input {
  height: 170px;
  color: #b3bac5;
  font-size: 15px;
  padding-right: 24px;
}

.submitBtn {
  display: flex;
  margin-left: -35px;
  padding: 12px 40px;
  color: #4a5cff;
  border-radius: 0.5rem;
  border: none;
  border: 1px solid #6070ff;
  font-size: 17px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.submitBtn:enabled {
  background-color: #fff;
  color: #4356ff;
}

.submitBtn:hover {
  background-color: #4d5efb;
  color: #fff;
}

.submitBtn:disabled {
  background-color: #c1c7d0;
  color: gray;
}

@media screen and (max-width: 767px) {
  .app-greeting {
    background-image: url("./images/background-pic.svg");
    display: grid;
    padding: 100px 30px;
    background-size: cover;
    overflow: hidden;
    gap: 12px;
  }
  .app-items {
  background-color: #fff;
  border-bottom-left-radius: 60px;
  margin-bottom: 114px;
}

.my-logo {
  padding-left: 30px;
  padding-top: 20px;
}

.hamburger {
  width: 40px;
  position: fixed;
  top: 10px;
  right: 0px;
}

  .mobile-menu {
    width: 100%;
    height: 100vh;
    padding-left: 70px;
    background:  #6070ff;
    mix-blend-mode: multiply;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    padding-top: 50px;
  }

  .d-menu {
    color: #fff;
  }

  .mobile-menu ul {
    list-style: none;
  }

  .projects-container {
    display: grid;
    justify-items: center;
    grid-template-rows: repeat(4 / fr);
    grid-auto-columns: 100%;
    grid-auto-rows: 600px;
    grid-row-gap: 88px;
    padding-left: 24px;
  }

  .project-3 {
    display: none;
  }

  .ruby-rails {
    display: none;
  }

  .ds-style {
    display: none;
  }

  .mb-ignore {
    display: none;
  }

}

@media screen and (min-width: 768px) {
  .app-container {
    display: grid;
    width: 100%;
  }

  .app-greeting {
    background-image: url(./images/Frame.b.svg);
    background-repeat: no-repeat;
    margin-top: 50px;
    margin-bottom: 155px;
    padding-left: 260px;
    padding-right: 260px;
  }

  .app-nav {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
  }
  .app-items {
  background-color: #fff;
  border-bottom-left-radius: 60px;
  margin-bottom: 114px;
}

.app-nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 16px;
}

  #logo {
    display: flex;
    width: 20%;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    animation: spin 2s;
    animation-name: sane;
    padding-left: 0%;
  }

  #menu-icon {
    display: none;
  }

  .d-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 60%;
    gap: 5%;
    list-style: none;
  }

  .desktop-menu {
    display: flex;
    color: #344563;
  }

  .app-greeting h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    padding-top: 300px;
    padding-bottom: 20px;
  }

  .socials {
    padding-bottom: 140px;
  }

  .app-greeting p {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    padding-bottom: 30px;
  }

  .projects-container {
    display: grid;
    margin-left: 142px;
    margin-right: 142px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-auto-columns: 100%;
    grid-auto-rows: 600px;
    grid-row-gap: 88px;
  }

  .project-title {
    padding-left: 30px;
  }

  .list {
    padding-bottom: 20px;
  }

  .projects {
    display: flex;
  }

  #project-1,
  #project-2 {
    display: flex;
    flex-direction: row-reverse;
  }

  h6 {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
  }

  #canopy {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
  }

  #backend {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }

  .description {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 10px;
  }

  .program-languages {
    padding-bottom: 25px;
  }

  .project-images {
    display: none;
  }

  #language-name {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
  }

  .see-projects {
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
  }

  .about-container {
    display: flex;
    width: 100%;
    margin-top: 114px;
    padding-left: 142px;
    padding-right: 142px;
    background-color: #fff;
    height: 100%;
    border-top-right-radius: 60px;
  }

  .about-container .about {
    display: flex;
    flex-direction: column;
    width: 35%;
  }

  .about-container .experience {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  .about h6 {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .language-container {
    display: flex;
    gap: 0.5%;
  }

  .list-languages {
    background-color: #f7f7f9;
    width: 25%;
  }

  .list-languages,
  .language {
    margin-left: 25px;
  }

  .language-container .list-languages {
    display: grid;
    grid-template-columns: repeat(3 / fr);
    width: 20%;
  }

  .list-type {
    display: flex;
    flex-direction: column;
  }

  #language-image img {
    padding-left: 12px;
  }

  .ds-style {
    font-weight: 500;
    font-size: 15px;
    padding-left: 20px;
    margin-bottom: 15px;
  }

  .about-socials {
    display: flex;
    gap: 5%;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .contact-me {
    display: flex;
    background-color: #fff;
    justify-content: center;
    background-image: url(./images/contact-background.svg);
    background-size: cover;
    height: 779px;
    margin-top: 100px;
  }

  .contact-info {
    padding-top: 100px;
    text-align: center;
    color: #fff;
    margin-left: 0%;
  }

  .contact-info h3 {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
  }

  .contact-info p {
    color: #fff;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 100;
    line-height: 28px;
    padding-bottom: 10px;
  }

  .ds-ignore {
    display: none;
  }

  .form-input input {
    width: 100%;
  }

  .form-input textarea {
    width: 100%;
  }

  .form-input button {
    margin-left: -3%;
  }

  input:hover::placeholder {
    transform: translate(10px);
  }

  textarea:hover::placeholder {
    transform: translate(20px, 20px);
  }

  .project-3 {
    transition: 2s;
  }

  .project-3:hover {
    transform: scale(1.3);
    z-index: 2;
  }

  @keyframes sane {
    100% { transform: rotate(360deg); }
  }
}
