* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  overflow-y: scroll;
  background-color: rgb(237, 237, 237);
}

.app-container {
  width: 327px;
  background-color: #efeeee;
}

.app-items {
  background-color: #fff;
  border-bottom-left-radius: 60px;
}

.app-nav {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

nav {
  color: #6070ff;
  width: 100%;
}

.app-greeting {
  background-image: url("./images/background-pic.svg");
  display: grid;
  width: 327px;
  padding: 100px 30px;
  background-size: cover;
  overflow: hidden;
  gap: 12px;
}

.socials {
  display: flex;
  padding-left: 0;
  gap: 10px;
  list-style-type: none;
}

#lets-connect {
  color: #7f8cff;
}

h1 {
  color: #172b4d;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

#logo {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
}

a {
  text-decoration: none;
  font-weight: 600;
  font-size: 13px;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

#logo:active {
  color: #6070ff;
}

i {
  font-size: 25px;
  color: #505f79;
  cursor: pointer;
}

#menu-icon {
  color: #6070ff;
}

.project-title {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 12px;
}

.projects {
  padding: 16px;
  background-color: #fff;
  border-radius: 16px;
  margin-top: 100px;
}

h2 {
  color: #172b4d;
  font-weight: 700;
  font-size: 32px;
}

.list {
  display: inline-flex;
  list-style-type: none;
  gap: 10px;
  padding-left: 0;
  padding-right: 10px;
}

#canopy {
  color: #344563;
  font-weight: 600;
}

#backend {
  color: #7a869a;
  font-size: 13px;
  font-weight: 600;
}

.description {
  font-weight: 400;
  font-size: 15px;
}

.program-languages {
  display: inline-flex;
  list-style-type: none;
  gap: 10px;
  padding-left: 0;
}

#language-name {
  background-color: #ebebff;
  color: #6070ff;
  font-size: 12px;
  font-weight: 600;
  padding: 4px 12px 4px 12px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.see-projects {
  font-size: 17px;
  font-weight: 500;
  color: #396df2;
  border: 1px solid #396df2;
  margin-top: 20px;
  padding: 5px;
  border-radius: 8px;
}

.about-container {
  display: grid;
  margin-top: 114px;
  padding: 16px;
  background-color: #fff;
  border-top-right-radius: 60px;
}

.about-heading {
  padding-top: 40px;
  font-weight: 700;
  font-size: 30px;
  color: #172b4d;
}

#intro {
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: 400;
}

.about-socials {
  padding-top: 15px;
  padding-bottom: 12px;
}

.language {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  margin-top: 12px;
}

.list-languages {
  display: flex;
  align-items: center;
  background-color: #f7f7f9;
  border-radius: 8px;
  margin-bottom: 12px;
}

#list-type {
  list-style-type: none;
  padding-left: 0px;
}

.line-colour {
  color: #cecfd0;
}

#style {
  padding-left: 15px;
  font-size: 15px;
  font-weight: bold;
  color: #253858;
}

#language-image {
  padding-left: 5px;
  padding-top: 5px;
}

#framework {
  padding-top: 20px;
}

#down-arrow {
  padding-top: 10px;
  padding-right: 30px;
}