body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Poppins;

}
.app-nav {
  display: flex;
  justify-content: center;
}
nav { 
  color: #6070FF;
}
.greeting {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 327px;
}
.socials {
  display: flex;
  justify-content: center;
}